<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <form loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" 
            autocomplete="off">
            <input
                name="username" 
                type="text" 
                [(ngModel)]="model.username"
                class="form-control mr-sm-2" 
                placeholder="Search" 
                aria-label="Username">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>   
    </div>
</nav> 